<%- include ('../../partials/header.ejs') %>

 
<div class="bg-primary" style="height: 100px;">
    <h1 class=" pl-5 pt-3">Guia Press</h1>
</div>
<div class="container">
    <div class="card mt-5">
        <div class="card-header">
            <h2>Login de admin</h2>
        </div>
        <div class="card-body">
            <form method="POST" action="/authenticate">
                <input type="email" class="form-control" name="email" placeholder="email@exemplo.com"><br>
                <input type="password" class="form-control" name="password" placeholder="********"><br>
                <button type="submit" class="btn btn-success btn-block">Criar</button>
            </form>
        </div>
    </div>
</div>


<%- include ('../../partials/footer.ejs') %>